.sudoku-grid {
    border: 1px solid blue;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.sudoku-row {
    display: flex;
    border: 1px solid green;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sudoku-cell>li {
    margin: 5px 0px;
}

div[class^="downStem"] {
    text-align: center;
    line-height: 22px;
    width: 22px;
    height: 22px;
    border: 1px solid red;
    border-radius: 50%;
}

.downStem1-4,
.downStem1-9,
.downStem1-2 {
    position: absolute;
    transform: translateY(-120px);
}

.downStem1-3,
.downStem2-4,
.downStem2-8 {
    position: absolute;
    transform: translateX(-120px);
}

.downStem1-7,
.downStem2-2,
.downStem2-6 {
    position: absolute;
    transform: translateX(120px);
}

.downStem1-1,
.downStem1-8,
.downStem1-6 {
    position: absolute;
    transform: translateY(120px);
}